body {
    background-color: gray;
}.topHeading {
    max-width: 500px;
    word-wrap: true;
}
img {
    max-width: 100%;
    height: auto;
}
#timeDate {
    width: 340px;
    height: 18px;
}
div {
    box-sizing: border-box;
    padding: 5px 0;
    margin: 5px 0;
    border: solid thin;
    /* background-color: gray; */
    overflow: auto;
/* max-width: 100%; */
}
@media only screen and (min-width: 42em){ 

    img {
        width: 300px;
    }   
}
/* 375px(23.438em) iPhone, 414px(25.875em) iPhones 6/7 Plus, chrome on Mac 500px(31.250em) to 2045px(127.813em) */
/* landscape widths: 667px(41.688em) iPhone, 736px(46.000em) Plus */