<!DOCTYPE html>
<HTML lang="en-us">
<head>
<title>A. | HAM Radio Hobby</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../css/styles.css">
</head>
<header class="banner">
<h1>Environmental Awareness</h1>
<h2>Solar, Atmospheric, Geophysical,
	Traffic & Airport Weather</h2>
    <a href="../index.html">-- HOME --</a>
	<p>UNDER CONSTRUCTION</p>	
	
</header>
<hr>
<body>

<a href="https://rx-tx.info/map-sdr-points">Map of Software Defined Radio (SDR) points</a>

<h3>favorite stations and frequencies</h3>
<ul><li>
    <p>Gresham Oregon: 1010 Hz latino music</p>
</li>
<li>
    <p>Talisay City Philippines: 1404 Hz, 7315</p>
</li>
<li>
    <p>Honolulu Hawaii: 145485 Hz filipino</p>
</li>
<li>
    <p>Austin Texas: 1600 Hz </p>
</li>
<li>
    <p>Sweden: 1215 Hz</p>
</li>
<li>
    <p>Sedona Arizona: 860 Hz farmwork edu</p>
</li>
<li>
    <p>Sapporo Hokkaido Japan: 6175 Hz, 6160 Hz, 5985 Hz</p>
</li>
<li>
    <p></p>
</li>
<li>
    <p></p>
</li></ul>
</body>
<hr>
<footer>
	
	<p>about me | contact | @copywright 2023 | sitemap | etc.</p></footer>
</HTML>