<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <title>Awareness | Streaming Weather Cams</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <header>
    <h1>Environmental Awareness</h1>
    <h2>Solar, Atmospheric, Geophysical, Traffic & Airport Weather</h2>
    <a href="../index.html">-- HOME --</a>
    <p>UNDER CONSTRUCTION</p>
  </header>
  <hr />
  <body>
    <div class="livegallery">
      <iframe
        title="newtitle, change this"
        id="1540457466"
        src="https://www.youtube.com/embed/r1N4CmHq0RA"
        frameborder="0"
        allowfullscreen=""
      ></iframe>
      <!-- mt spokane live (streaming youtube video url) https://youtu.be/lBgqL-YwCcE -->
      <!-- w880 h495 -->
      <iframe
        width="333"
        height="auto"
        src="https://www.youtube.com/embed/lBgqL-YwCcE"
        title="Mt. Spokane Web Cam, Snow Stake"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>

      <iframe
        title="newtitle, change this"
        id="downtown-live-cam"
        scrolling="no"
        src="https://api.wetmet.net/client-content/PlayerFrame.php?CAMERA=162-03-01&amp;CFVER=WM&amp;WIDTH=100%&height=150%"
        frameborder="0"
        allowfullscreen=""
      ></iframe>

      <img
        alt="Coeur d'Alene Lake Live Cam- Sponsored by Blue Dog RV"
        src="https://media.tegna-media.com/assets/KREM/images/d3c3b178-78f0-4ddd-b15d-21129d06fd14/d3c3b178-78f0-4ddd-b15d-21129d06fd14.jpg"
        title="Coeur d'Alene Lake Live Cam- Sponsored by Blue Dog RV"
      />

      <iframe
        title="newtitle, change this"
        id="coeur-d-alene-lake-live-cam"
        scrolling="no"
        src="https://api.wetmet.net/client-content/PlayerFrame.php?CAMERA=162-02-01&CFVER=WM&width=100%&height=150%"
        frameborder="0"
        allowfullscreen
      ></iframe>

      <iframe
        title="newtitle, change this"
        allowfullscreen
        webkitallowfullscreen
        mozallowfullscreen
        src="https://video.nest.com/embedded/live/1zccvpZ04f?autoplay=0"
        frameborder="0"
      ></iframe>

      <iframe
        title="newtitle, change this"
        src="https://www.youtube.com/embed/-gjQP7ABEK0"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <iframe
        width="654"
        height="368"
        src="https://www.youtube.com/embed/VeuvtaxbbHA"
        title="Issaquah SalmonCam"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>

      <iframe
        width="636"
        height="358"
        src="https://www.youtube.com/embed/6IKZS6guYO0"
        title="Port of Friday Harbor Marina Live Stream"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>

    </div>
  </body>
  <hr />
  <footer>
    <p>about me | contact | @copywright 2023 | sitemap | etc.</p>
  </footer>
</html>
