<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <title>Awareness | RSS feeds</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <header>
    <h1>Environmental Awareness</h1>
    <h2>Solar, Atmospheric, Geophysical, Traffic & Airport Weather</h2>
    <a href="../index.html">-- HOME --</a>
    <p>UNDER CONSTRUCTION</p>
  </header>
  <hr />
  <body>
    <section class="news">
      <h1>Learning how to embed RSS feed into the page.</h1>
      <h3>rss feeds were no longer working, will fix soon</h3>
      <p>under construction</p>
    </section>
  </body>
  <hr />
  <footer>
    <p>about me | contact | @copywright 2023 | sitemap | etc.</p>
  </footer>
</html>
