<!DOCTYPE html>
<HTML lang="en-us">
<head>
<title>Awareness | Shoes</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../css/styles.css">
</head>
<header>
<h1>Environmental Awareness</h1>
<h2>Solar, Atmospheric, Geophysical,
	Traffic & Airport Weather</h2>
    <a href="../index.html">-- HOME --</a>
	<p>UNDER CONSTRUCTION</p>	
	
</header>
<hr>
<body>

    <h1>MyShoes</h1>
    <p>These are some of my favorite shoes</p>
    <img src="../images/hikersM.jpeg" alt="hikers">
    <img src="../images/prioM.jpeg" alt="prio">

    <p>I'm sticking with Xeroshoes.</p>

</body>
<hr>
<footer>
	
	<p>about me | contact | @copywright 2023 | sitemap | etc.</p></footer>
</HTML>