<!DOCTYPE html>
<HTML lang="en-us">
<head>
<title>Awareness | Solar</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../css/styles.css">
</head>
<header class="banner" style="padding: 0 11px; color: coral; background-color: black";>
<h1>Environmental Awareness</h1>
<h2>Solar, Atmospheric, Geophysical,
	Traffic & Airport Weather</h2>
    <a href="../index.html">-- HOME --</a>
	<p>UNDER CONSTRUCTION</p>	
	
</header>
<hr>
<body>

    <div class="gallery">
        <img class="medImg" src="http://sohowww.nascom.nasa.gov/data/realtime/eit_171/512/latest.jpg" alt="blue solar disc">
        <!-- <img class="medImg" src="http://sohowww.nascom.nasa.gov/data/realtime/eit_284/512/latest.jpg" alt="yellow solar disc"> -->
        <!-- <img class="medImg" src="http://sohowww.nascom.nasa.gov/data/realtime/eit_304/512/latest.jpg" alt="red solar disc"> -->
        
        <!-- <img class="bigImg" src="https://services.swpc.noaa.gov/images/planetary-k-index.gif" alt="chart k index"> -->
        <img class="bigImg" src="https://services.swpc.noaa.gov/images/ace-mag-24-hour.gif" alt="chart magnetic solar activity">
        
        <picture class="northernlights"><figcaption>Swedish Northern Lights</figcaption>
            <img class="bigImg" src="https://uk.jokkmokk.jp/photo/nr3/latest.jpg" alt="jokkmokk sweden"> </picture>
            
        <picture class="northernlights"><figcaption>Swedish Northern Lights</figcaption>
            <img class="bigImg" src="https://uk.jokkmokk.jp/photo/nr4/latest.jpg" alt="jokkmokk sweden"> </picture>
        
        <picture class="northernlights"><figcaption>Swedish Northern Lights</figcaption>
            <img class="bigImg" src="https://uk.jokkmokk.jp/photo/nr5/latest.jpg" alt="jokkmokk sweden"> </picture>
</div>        

</body>
<hr>
<footer>
	
	<p>about me | contact | @copywright 2023 | sitemap | etc.</p></footer>
</HTML>