<!DOCTYPE html>
<HTML lang="en-us">
<head>
<title>Awareness | Traffic</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../css/styles.css">
</head>
<header>
<h1>Environmental Awareness</h1>
<h2>Solar, Atmospheric, Geophysical,
	Traffic & Airport Weather</h2>
	<a href="../index.html">-- HOME --</a>
	<p>UNDER CONSTRUCTION</p>	
	
</header>
<hr>
<body>
	<div class="gallery">
		
		<span>I-90 FAR WEST</span>
		<img src="http://images.wsdot.wa.gov/rweather/TylerRoad3.jpg" alt="tyler rd">
		<img src="http://images.wsdot.wa.gov/rweather/Ritzville3.jpg" alt="ritzville">
	
		<span>I-90 MED LK TO IDAHO</span>
		<img src="http://images.wsdot.wa.gov/spokane/i90/cctv023.jpg" alt="I-90/Medical Lk Rd">
		<img src="http://images.wsdot.wa.gov/spokane/i90/cctv022.jpg" alt="I-90/Thomas Mallen Rd">
		<img src="http://images.wsdot.wa.gov/spokane/i90/cctv021.jpg" alt="I-90/Geiger Blvd">
		<img src="http://images.wsdot.wa.gov/spokane/i90/cctv020.jpg" alt="US-2/I-90">
		<img src="http://images.wsdot.wa.gov/spokane/i90/cctv019.jpg" alt="I-90/Finch Arboretum">
		<img src="http://images.wsdot.wa.gov/Spokane/i90/cctv018.jpg" alt="I-90/US-195">
		<img src="http://images.wsdot.wa.gov/spokane/i90/cctv017.jpg" alt="I-90/Jefferson">
		<img src="http://images.wsdot.wa.gov/spokane/i90/cctv002.jpg" alt="I-90/Division">
		<img src="http://images.wsdot.wa.gov/spokane/i90/CCTV004.jpg" alt="I-90/Hamilton">
		<img src="http://images.wsdot.wa.gov/spokane/i90/CCTV006.jpg" alt="I-90/Freya">
		<img src="http://images.wsdot.wa.gov/spokane/i90/CCTV005.jpg" alt="I-90/Havana">
		<img src="http://images.wsdot.wa.gov/spokane/i90/CCTV008.jpg" alt="I-90/Sprague">
		<img src="http://images.wsdot.wa.gov/spokane/i90/CCTV010.jpg" alt="I-90/Park">
		<img src="http://images.wsdot.wa.gov/spokane/i90/CCTV011.jpg" alt="I-90/Argonne">
		<img src="http://images.wsdot.wa.gov/Spokane/i90/cctv013.jpg" alt="I-90/University">
		<img src="http://images.wsdot.wa.gov/Spokane/i90/cctv014.jpg" alt="I-90/Pines">
		<img src="http://images.wsdot.wa.gov/Spokane/i90/cctv015.jpg" alt="I-90/Evergreen">
		<img src="http://images.wsdot.wa.gov/Spokane/i90/cctv016.jpg" alt="I-90/Sullivan">
		<img src="http://images.wsdot.wa.gov/spokane/i90/I-90-Flora.jpg" alt="I-90/Flora">
		<img src="http://images.wsdot.wa.gov/spokane/i90/I-90-Appleway.jpg" alt="I-90/Appleway">
		<img src="http://images.wsdot.wa.gov/spokane/i90/I-90-Liberty-Lake.jpg" alt="I-90/Liberty Lake">
		<img src="http://images.wsdot.wa.gov/spokane/i90/I-90-Harvard.jpg" alt="I-90/Harvard">
		<img src="http://images.wsdot.wa.gov/spokane/i90/I-90-Starr.jpg" alt="I-90/Starr">
		<img src="http://images.wsdot.wa.gov/spokane/i90/I-90-Idaho.jpg" alt="I-90/Idaho">
		
		<span>I-195 GOING SOUTH</span>
		<img src="https://images.wsdot.wa.gov/spokane/sr195/US-195-16th.jpg" alt="US-195-16th">
		<img src="https://images.wsdot.wa.gov/spokane/sr195/US-195-Inland_Empire.jpg" alt="US-195-Inland_Empire">
		<img src="https://images.wsdot.wa.gov/spokane/sr195/US-195-Cheney_Spokane.jpg" alt="US-195-Cheney_Spokane">
		
		<span>DOWNTOWN GOING WEST...NW</span>
		<img src="http://images.wsdot.wa.gov/spokane/i90/cctv026.jpg" alt="SR-290/Hamilton">
		<img src="http://images.wsdot.wa.gov/spokane/i90/cctv029.jpg" alt="Downtown 3rd/Washington">
		<img src="http://images.wsdot.wa.gov/spokane/i90/cctv028.jpg" alt="2nd Ave/Monroe St">
		<img src="http://images.wsdot.wa.gov/spokane/i90/cctv030.jpg" alt="3rd/Maple">
		
		<span>9 MILE</span>
		<img src="http://images.wsdot.wa.gov/rweather/NineMile-4.jpg" alt="9-Mile">
		
		<span>TRAFFIC 395 GOING NORTH</span>
		<img src="http://images.wsdot.wa.gov/spokane/us395/395-Freya.jpg" alt="395 freya">
		<img src="http://images.wsdot.wa.gov/spokane/us395/Girlach.jpg" alt="girlach">
		<img src="http://images.wsdot.wa.gov/spokane/us395/Fairview.jpg" alt="fairview">
		<img src="http://images.wsdot.wa.gov/spokane/us395/Market.jpg" alt="market">
		<img src="http://images.wsdot.wa.gov/spokane/us395/ParkSmith.jpg" alt="parksmith">
		<img src="http://images.wsdot.wa.gov/spokane/us395/Farwell.jpg" alt="farwell">
		<img src="http://images.wsdot.wa.gov/spokane/us395/395-US-2.jpg" alt="395 us2">
		<img src="http://images.wsdot.wa.gov/Spokane/i90/ccTV012.jpg" alt="farwell">
		<img src="http://images.wsdot.wa.gov/spokane/us395/395-Shady%20Slope.jpg" alt="395 shady slope">
		<img src="http://images.wsdot.wa.gov/spokane/us395/395-Perry.jpg" alt="395 and perry">
		<img src="http://images.wsdot.wa.gov/spokane/us395/395-Wandermere.jpg" alt="395 and wandermere">
		<img src="http://images.wsdot.wa.gov/rweather/ClaytonRd6.jpg" alt="clayton rd">
		<img src="http://images.wsdot.wa.gov/spokane/US395/colville_Canning.jpg" alt="colville canning">
		<img src="http://images.wsdot.wa.gov/rweather/shermanpass_medium.jpg" alt="sherman pass">
		

		
		<span>Washington Coastal</span>
		<img src="http://images.wsdot.wa.gov/nw/005vc27650.jpg" alt="I-5 Peace Arch">
		<img src="http://images.wsdot.wa.gov/nw/005vc27149.jpg" alt="I-5 going under Loomis Trail Rd">
		<img src="http://images.wsdot.wa.gov/nw/005vc24625.jpg" alt="I-5 N Lake Samish">
		<img src="http://webcam.forkswa.com/webcam1/netcam.jpg" alt="la push WA ocean view">
		<img src="https://images.wsdot.wa.gov/sw/101vc00050.jpg" alt="bridge over mouth of columbia river at WA US101 / OR SR401">
		<img src="http://images.wsdot.wa.gov/rweather/Medium_Queets.jpg" alt="queets sr101">
		<img src="https://images.wsdot.wa.gov/orflow/PTGrenville.jpg" alt="grenville">
		<img src="http://images.wsdot.wa.gov/rweather/statecamp_medium.jpg" alt="state camp hill sr101">



		
<!-- 		
		<span>Bonaire, Caribbean Sea</span>
		<img src="http://www.breathebonaire.com/~bonairecam9/preview.jpg" alt="Bonaire island of Leeward Antilles in the Caribbean Sea">
		 -->
		
		</div>

</body>
<hr>
<footer>
	
	<p>about me | contact | @copywright 2023 | sitemap | etc.</p></footer>
</HTML>