<!DOCTYPE html>
<HTML lang="en-us">
<head>
<title>Awareness | Trailheads</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../css/styles.css">
<link rel="icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<!-- <header class="banner" >
<h1>Environmental Awareness</h1>
<h2>Solar, Atmospheric, Geophysical,
	Traffic & Airport Weather</h2>
    <a href="../index.html">-- HOME --</a>
	<p>UNDER CONSTRUCTION</p>	
	
</header> I learned that the header and everything visible should go in the body -->


<hr>
<body>
<div id="header"></div>
<div class="gallery">
    <picture><figcaption>Trailheads:(testing with intersections for now.)lost trail pass mt</figcaption>
        <img src="https://mt.cdn.iteris-atis.com/camera_images/other_cameras_6687.jpg" alt="lost trail pass intersection">
    </picture>
        <img src="#" alt="some trailhead cam to go here...">
        <!-- <img src="https://images.wsdot.wa.gov/airports/RichApron.jpg" alt="richland airport weather camera">
        <img src="https://images.wsdot.wa.gov/airports/bremertonRWS.jpg" alt="bremerton airport weather camera">
        <img src="https://images.wsdot.wa.gov/airports/OlySW.jpg" alt="olympia sw airport weather camera">
        <img src="https://images.wsdot.wa.gov/airports/Dalles.jpg" alt="the dalles airport weather camera">
        <img src="https://images.wsdot.wa.gov/airports/hyakwnw.jpg" alt="hyak airport weather camera https native">
        <img src="https://images.wsdot.wa.gov/airports/packwood7.jpg" alt="packwood airport weather camera">
        <img src="https://images.wsdot.wa.gov/airports/prossernw.jpg" alt="prosser airport weather camera"> -->
        <img src="https://biz.parks.wa.gov/webcams/MtSpokaneOffice1.jpg" alt="prosser airport weather camera">
         <img src="https://biz.parks.wa.gov/webcams/selkirklodge1.jpg" alt="prosser airport weather camera">
       

    </div>
    <script src="../js/load-header.js"></script>
</body>
<hr>
<footer>
	
	<p>about me | contact | @copywright 2023 | sitemap | etc.</p></footer>
</HTML>